
@using MobileStoreApplication.Models.Home
@model MobileStoreApplication.Models.Home.SearchViewModel
@using MobileStoreApplication.Controllers


@{
    ViewBag.Title = "Index";
}






<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <style>
      
body {
    background-color: white;
}

td, th {
    padding: 20px;
}

b {
    font-size: larger;
    font-family: Verdana;
    color: darkblue;
}

i {
    font-size: medium;
    font-weight: bolder;
}

.topnav1 {
    margin-left: -160px;
 

}

    .topnav1 input[type=text] {
        float: right;
        padding: 8px;
        border: none;
        margin-top: -45px;
        margin-right: 25px;
        font-size: 17px;
    }

    .topnav1 input[type=text] {
        border: 1px solid #ccc;
  
    }

.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    margin-right: 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 29px;
}

    .dropbtn:hover, .dropbtn:focus {
        background-color: deepskyblue;
        color: black;
    }

#myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

    #myInput:focus {
        outline: 3px solid #ddd;
    }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display:none;
    position: absolute;
    background-color: #f6f6f6;
    min-width:100px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    color: black;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    </style>

</head>
<body>
    <script>
function BrandFunction() {
    document.getElementById("BrandDropdown").classList.toggle("show");

}

function PriceFunction() {
    document.getElementById("PriceDropdown").classList.toggle("show");
}

function RAMFunction() {
    document.getElementById("RAMDropdown").classList.toggle("show");
}
function ROMFunction() {
    document.getElementById("ROMDropdown").classList.toggle("show");
        }

        function CartFunction() {
            document.getElementById("CartDropdown").classList.toggle("show");
        }

function BrandfilterFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("MyInput");
    filter = input.value.toUpperCase();
    d = document.getElementById("BrandDropdown");
    a = d.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
        txtValue = a[i].textContent || a[i].innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            a[i].style.display = "";
        } else {
            a[i].style.display = "none";
        }
    }
        }

        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }


function  FeaturefilterFunction() {
    
    search = document.getElementById("btn").value;
    window.location.href = "@Url.Action("ExportData", "Home")?id=" + data;

   
}</script>

   
<div class="topnav1">

    <div class="dropdown">
        <button onclick="BrandFunction()" class="dropbtn">BRANDS</button>
        <div id="BrandDropdown" class="dropdown-content">
            
            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                @Html.EditorForModel()
                <br />
                <div><input type="submit" name="search" value="Samsung" /></div>
                <div> <input type="submit" name="search" value="Vivo" /></div>

            }
            
        </div>
    </div>

    <div class="dropdown">
        <button onclick="RAMFunction()" class="dropbtn">RAM</button>
        <div id="RAMDropdown" class="dropdown-content">
            
            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                @Html.EditorForModel()
                <br />
                <div><input type="submit" name="search" value="2 GB RAM" /></div>
                <div> <input type="submit" name="search" value="4 GB RAM" /></div>
                <div><input type="submit" name="search" value="8 GB RAM" /></div>
                <div><input type="submit" name="search" value="16 GB RAM" /></div>
            }
           
        </div>
    </div>


    <div class="dropdown">
        <button onclick="ROMFunction()" class="dropbtn">ROM</button>
        <div id="ROMDropdown" class="dropdown-content">
            <!--input type="text" placeholder="Search.." id="FeatureInput" onkeyup="FeaturefilterFunction()"-->
            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                @Html.EditorForModel()
                <br />
                <div><input type="submit" name="search" value="32 GB ROM" /></div>
                <div> <input type="submit" name="search" value="64 GB ROM" /></div>
                <div><input type="submit" name="search" value="128 GB ROM" /></div>
                <div><input type="submit" name="search" value="256 GB ROM" /></div>
            }
            @*<input type="submit" ,name="search" value="2 GB RAM" />
                <a href="/Home/About">4 GB RAM</a>
                <a href="/Home/About">8 GB RAM</a>
                <a href="/Home/About">16 GB RAM</a>*@
        </div>
    </div>



    @*<div class="dropdown">
        <button onclick="PriceFunction()" class="dropbtn">PRICE</button>
        <div id="PriceDropdown" class="dropdown-content">
            <a href="#about"> >10000</a>
            <a href="#base">10000 to 20000</a>
            <a href="#blog">
                < 30000
            </a>

        </div>
    </div>*@

    <div class="dropdown">
        @using (Html.BeginForm("HomeOrderCancel", "ShoppingCart", FormMethod.Post))
        {
            @Html.EditorForModel()
            <button  class="dropbtn">CANCEL ORDER</button>
        }
        </div>
      
    @*<div>
            <button>@Html.ActionLink("CANCEL ORDER", "HomeOrderCancel", "ShoppingCart")</button>
        </div>*@



    <form method="post">
        <input type="text" placeholder="Search.." name="search">
        
    </form>
</div>



    @*<hr />*@
    <table cellpadding="100" cellspacing="100">
        <!--<tr>-->
        @*<th>SNo</th>*@
        <!--<th>BrandName</th>
            <th>ProductName</th>
            <th>RAMName</th>
            <th>ROMName</th>
            <th>ProcessorName</th>
            <th>Image</th>
            <th>Price</th>
        </tr>-->
        @*@foreach (MobileStoreApplication.Models.Tbl_DisplayImage customer in Model)*@
        @foreach (var customer in Model.ListOfProducts)
        {
        <tr>
            @*<td>@customer.SNo</td>*@

            <td>
                <pre>
                <b>
                    @customer.BrandName</b>
                <i>@customer.ProductName</i>
                    @customer.RAMName  @customer.ROMName @customer.ProcessorName
                    Price: Rs @customer.Price /-</pre>
            </td>

            <td><img src="@Url.Content(@customer.ImagePath)" width="250" height="250" /></td>


           
            <td>
                <button> @Html.ActionLink("Add To Cart", "AddToCart", "ShoppingCart", new { SNo = customer.SNo }, null)</button>
            </td>


        </tr>
        }
    </table>
</body>
</html>
